openai-clip==1.0.1
diffusers==0.33.1
einops==0.8.1
fire==0.7.0
fsspec==2025.5.1
gradio==5.32.0
huggingface_hub==0.29.1
icecream==2.1.4
imageio==2.37.0
invisible_watermark==0.2.0
kornia==0.6.9
matplotlib==3.10.3
natsort==8.4.0
numpy==1.24.3
omegaconf==2.3.0
open_clip_torch==2.24.0
opencv_python==4.6.0.66
opencv_python_headless==4.11.0.86
packaging==25.0
Pillow==11.2.1
pudb==2025.1
pyhocon==0.3.61
PyMCubes==0.1.6
pytest==8.4.0
pytorch_fid==0.3.0
pytorch_lightning==2.0.1
rembg==2.0.63
Requests==2.32.3
safetensors==0.5.3
scipy==1.15.3
sdata==0.25.3
scikit-learn==1.4.2
scikit-image==0.21.0
torch==2.0.1
torchdata==0.6.1
torchmetrics==1.6.1
torchvision==0.15.2
tqdm==4.67.1
transformers==4.19.1
trimesh==4.6.4
wandb==0.19.11
webdataset==0.2.111
xatlas==0.0.10
xformers==0.0.22
onnxruntime==1.22.0
imageio-ffmpeg==0.6.0